export APCS_PRATICE_FRONTEND_PORT=3010
export APCS_PRATICE_BACKEND_PORT=3011
export APCS_PRATICE_DB_PORT=5433

# Staging Environment (Docker Compose)
export APCS_PRATICE_STG_FRONTEND_PORT=3050
export APCS_PRATICE_STG_BACKEND_PORT=3051
export APCS_PRATICE_STG_DB_PORT=5434
